<div class="container">
  <%= simple_form @ranking do |f| %>
    <%= f.input :story %>
    <%= f.input :acting %>
    <%= f.input :dialog %>
    <%= f.input :cinematography %>
    <%= f.input :soundtrack %>
    <%= f.input :soundtrack %>
    <%= f.input :style %>
    <%= f.input :pacing %>
    <%= f.input :originality %>
    <%= f.input :characters %>
    <%= f.input :enjoyment %>
    <%= f.submit %>
  <% end %>
</div>
