<div class="container p-3">

  <h1>Ranking <%= @movie.title %></h1>
  <%= simple_form_for [@movie, @ranking] do |f| %>
    <%= f.input :story, label: false, placeholder: "Story?" %>
    <%= f.input :acting, label: false, placeholder: "Acting?" %>
    <%= f.input :dialog, label: false, placeholder: "Dialogue?" %>
    <%= f.input :cinematography, label: false, placeholder: "Cinematography?" %>
    <%= f.input :soundtrack, label: false, placeholder: "Soundtrack?" %>
    <%= f.input :style, label: false, placeholder: "Aesthetics?" %>
    <%= f.input :pacing, label: false, placeholder: "Pacing?" %>
    <%= f.input :originality, label: false, placeholder: "Originality?" %>
    <%= f.input :characters, label: false, placeholder: "Characters?" %>
    <%= f.input :enjoyment, label: false, placeholder: "Enjoyment?" %>
    <%= f.hidden_field :movie_id, value: @movie.id %>
    <%= f.submit %>
  <% end %>
</div>

<%# Tmdb::Api.key("#{ENV['API_KEY']}")
search = Tmdb::Search.movie('batman')
titles = search.results.map { |movie| movie.title }
puts titles %>
