<div class="container">
  <h1>Create Movie</h1>
  <%= simple_form_for @movie do |f| %>
    <%= f.input :title %>
    <%= f.input :year %>
    <%= f.input :genre %>
    <%= f.submit %>
  <% end %>
</div>
